<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patent Recommender</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../static/css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../static/css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Patent Recommender</h1>
                <hr>
                <p>Patent Recommender can help you find the most relevant patents for you in seconds!</p>
                <a href="#search" class="btn btn-primary btn-xl page-scroll">Let's start!</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="search">
        <div class="container">
            <div class="col-lg-12 text-center">
                <h1>Let's Search for patents</h1>
                <hr>
                    <div class="header-content-inner-2">
                    <p><b>Enter the keyword:</b></p>
                    </div>
                    <div style="color:Black">
                        <form action={{form_action}} method='POST' >
                            <select name="searchCriteria">
                                <option value="keyword">Keyword</option>
                                <option value="userid">UserId</option>
                                <option value="patentid">PatentId</option>
                            </select>
                            <input type="text" name="keyword" size="60" />
                            <input type="submit" class="btn btn-primary btn-xl-2 page-scroll"/>
                        </form>
                    </div>
                    <div class="header-content-inner-2">
                        <p><small><span style="color: black"> {{msg}}</span></small></p>
                    </div>
                    <div style="margin-bottom:50px">
                    </div>
            </div>
            {% if patent=="true" %}
            <div class="col-lg-12 text-left">
                <p><b>
                        <font size="4"> The patent you provided:
                    </b></p>
            </div>
            {% endif %}
			{% if user_patent=="true" %}
            <div class="col-lg-12 text-left">
                <p><b>
                        <font size="4"> The patent read by the user: {{keyword}}
                    </b></p>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12">
                    <style>
                        table,
                        td,
                        th {
                            border: 1px solid black;
                        }
            
                        th,
                        td {
                            text-align: center;
                            padding: 10px;
                        }
                    </style>
                    {% if patent=="true" %}
                    <table style="width:100%">
                        <col width="20">
                        <col width="300">
                        <col width="150">
                        <col width="30">
                          <tr>
                            <th><b>
                                    <font size="4">Patent Number</font>
                                </b></th>
                                <th><b>
                                    <font size="4">Abstract</font>
                                </b></th>
                                <th><b>
                                    <font size="4">Title</font>
                                </b></th>
                            <th><b>
                                    <font size="4">Distance</font>
                                </b></th>
                             
                        </tr>
                        {% for i in range(df_mypatent.shape[0]) %}
                        <tr>
                            <td><a href={{df.iloc[i].url}} target="_blank">
                                    <FONT COLOR="white" size="4">{{df_mypatent.iloc[i].patent_num}}</font>
                                </a></td>
                            <td>
                                <font size="4">{{df_mypatent.iloc[i].abstract}}</font>
                            </td>
                            <td>
                                <font size="4">{{df_mypatent.iloc[i].title}}</font>
                            </td>
                            <td>
                                <font size="4">{{df_mypatent.iloc[i].distance}}</font>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
					{% if user_patent=="true" %}
                    <table style="width:100%">
                        <col width="20">
                        <col width="300">
                        <col width="150">
                        <col width="30">
                          <tr>
                            <th><b>
                                    <font size="4">Patent Number</font>
                                </b></th>
                                <th><b>
                                    <font size="4">Abstract</font>
                                </b></th>
                                <th><b>
                                    <font size="4">Title</font>
                                </b></th>
                            <th><b>
                                    <font size="4">Distance</font>
                                </b></th>
                             
                        </tr>
                        {% for i in range(df_mypatent.shape[0]) %}
                        <tr>
                            <td><a href={{df.iloc[i].url}} target="_blank">
                                    <FONT COLOR="white" size="4">{{df_mypatent.iloc[i].patent_num}}</font>
                                </a></td>
                            <td>
                                <font size="4">{{df_mypatent.iloc[i].abstract}}</font>
                            </td>
                            <td>
                                <font size="4">{{df_mypatent.iloc[i].title}}</font>
                            </td>
                            <td>
                                <font size="4">0.0</font>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                    <br />
                    <br />
                    <br />
                </div>
            <div class="col-lg-12 text-left">
                <p><b> <font size="4">Here are the similar patents we found for you:</font></b></p>
            </div>
            <div style="margin-bottom:15px">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <style>
                        table, td, th {
                            border: 1px solid black;
                        }
                        th, td {
                            text-align: center;
                            padding: 10px;
                        }
                    </style>
                    <table style="width:100%">
                        <col width="20">
                        <col width="300">
                        <col width="150">
                        <col width="30">
                        <tr>
                            <th><b><font size="4">Patent Number</font></b></th>
                            <th><b><font size="4">Abstract</font></b></th>
                            <th><b><font size="4">Title</font></b></th>
                            {% if user_patent=="true" %}
							<th><b><font size="4">Similarity</font></b></th>
							{% else %}
							<th><b><font size="4">Distance</font></b></th>
							{% endif %}
                        </tr>
                        {% for i in range(df.shape[0]) %}
                        <tr>
                            <td><a href={{df.iloc[i].url}} target="_blank"><FONT COLOR="white" size="4">{{df.iloc[i].patent_num}}</font></a></td>
                            <td><font size="4">{{df.iloc[i].abstract}}</font></td>
                            <td><font size="4">{{df.iloc[i].title}}</font></td>
                            <td><font size="4">{{df.iloc[i].distance}}</font></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
            </div>
    </section>



    

    <!-- jQuery -->
    <script src="../static/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/scrollreveal.min.js"></script>
    <script src="../static/js/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../static/js/creative.min.js"></script>

</body>

</html>
